@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
/**header*/
.navbar{
    height: 10vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #ad2831;
    color: whitesmoke;
    padding: 2rem 4rem;
    font-family: 'Mulish', sans-serif;
    box-shadow: 0px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar h1{
    font-size: 2rem;
}

.links{
    display:flex;

}
.links>li{
    list-style: none;
    margin-right: 20px;
}
.main-1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin-top: 1rem;
}
.main1-left .content{
    display: flex;
    flex-direction: column;
  justify-content: center;
    height: 500px;
    width: 600px;
}
.quote{
    font-size: 3rem;
    font-family: 'Comforter Brush', cursive;
    margin-bottom: 20px;
}
.main1-left h2{
    font-size: 2.25rem;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 2px;
    margin-bottom: 40px;
    color: hsl(222, 46%, 17%);
}
.main1-left p{
    color: hsl(223, 8%, 44%);
    line-height: 25px;
    margin-bottom: 40px;
}
.buttons>button{
    width: 120px;
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
}
.buttons>button:hover{
    font-weight: 700;
}
.contact-btn{
    background: #ad2831;
    color: white;
    border: none;
    margin-right: 1rem;

}

.main1-right>img{
    width: 80%;
    height: auto;
}

.section-2{
    height: 50vh;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-x: auto;
}

.section2-head{
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 1.1rem;
   font-weight: 500;

    letter-spacing: 1px;
  
}
.sec2-container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.section-2 .item{
    margin-left: 10px;
    position: relative;
   
}
.item-content{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 1rem;
    color: white;
    text-align: center;
}
.content-header{
    font-size: 1.25rem;
}
.content{
    font-size: .9rem;
}
.line{
   height: 1px;
   background: white;
   margin: 10px 0px;
}
.rating{
    display: flex;
    align-items: center;
    justify-content: center;
}
.star{
    color: gold;
    margin-right: 5px;
}
.color-overlay{
    position: absolute;
    width: 100%;
    height: 99%;
    background: linear-gradient(0deg,rgba(0,0,0,1) ,rgba(0,0,0,.1));
    border-radius: 15px;
} 
.item-img img{
    width: 220px;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
}
.color-overlay-active{
    background: rgba(0,0,0,.6);
}

.section-3{
    height: 70vh;
    display: flex;
   align-items: center;
    flex-direction: column;
    overflow: hidden;
   
}
.section-3 h2{
    font-size: 2.5rem;
    margin-bottom: 50px;
  
}

.slider-container{
    height: 100%;
    width: 100vw;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.8s ease-in-out;
}


.slide>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.slide-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 100%;
    width: 50%;
    background:linear-gradient(to right,hsla(0, 0%, 0%, 1),hsla(9, 100%, 100%, 0));
    position: absolute;
    z-index: 9;
    bottom: 0;
    left: 0;
    padding: 2.5rem;
    line-height: 2.5rem;
}
.slide-content > p{
    font-size: 4rem;
    font-family: 'Comforter Brush', cursive;
    color: yellow;
    margin-bottom: 1rem;
}
.slide-content > h3{
    font-size: 2.5rem;
    font-family: 'Abril Fatface', cursive;
    color: white;
    font-weight: 400;
}
.content-btn{
    margin-top: 20px;
    font-size: 1rem;
    background:yellow;
    color:black;
    border: none;
    width: 140px;
    height: 35px;
    border-radius: 5px;
    font-weight: bolder;
}
.slider-btn{
    margin-top: 2rem;
    font-size: 2rem;  
    position: absolute;
    width: 70%;
   height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    z-index: 9; 
}
.prev-btn,.next-btn{
    color: rgba(255,255,255,.8);
}
.prev-btn:hover,.next-btn:hover{
    color: rgba(255,255,255,1);
}
.prev-btn{
    margin-right: 3rem;
    padding-left: 2rem;
}
.next-btn{
    padding-right: 2rem;
}


.section-4{
    padding-top:5rem;
    height: 80vh;
    overflow: hidden;
    text-align: center;
}
.section-4>h3{
    font-size: 2rem;
}
.sec4-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.header-img{
   font-size: 2.5rem;
}
.sec-item{
    width: 500px;
    height: 250px;
    padding: 3rem;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
   margin: 10px;
   border-radius: 10px;
}
.sec-content{
    margin-top: 1.5rem;
}

.section-5{
    margin-top: 5rem;
    margin-bottom: 10rem;
    height: 40vh;
    width: 100%;
    background: url(/Images/section-5/earth.png);
    background-size: 100% 100%;
    
}
.sec5-container{
   background: rgba(22,40,58,.95);
   width: 100%;
   height: 100%;
}

